body {
  margin: 0;
}

html {
  font-family: Roboto;
  font-size: 15px;

  --peak-theme-primary: #757575;
  --peak-theme-primary-light: #a4a4a4;
  --peak-theme-primary-dark: #494949;
  --peak-theme-secondary: #b71c1c;
  --peak-theme-secondary-light: #f05545;
  --peak-theme-secondary-dark: #7f0000;
  --peak-theme-text-on-primary: #fff;
  --peak-theme-text-on-secondary: #fff;
}
