.banner {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.banner img {
  max-width: 50%;
}

.banner .motto {
  color: darkgray;
  font-size: xxx-large;
  font-style: italic;
}

.content {
  padding: 5em;
}
